@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #1F2937;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: .2rem 1rem;
}

nav .logo {
    color: #F9FAF8;
    font-size: 1.5rem;
    font-weight: bold;
}

ul.navbar {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.menu a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 1.125rem;
}

.menu a:hover {
    color: white;
    text-decoration: underline;
}

main {
    flex: 1;
}

section.hero {
    background-color: #1F2937;
    padding: 0 1rem;
}

.hero .container {
    display: flex;
    align-items: center;
    min-height: 20rem;
    gap: 1rem;
}

.hero .container > * {
    flex: 1;
}

.hero h1 {
    font-size: 3rem;
    font-weight: 900;
    color:#F9FAF8;
    line-height: 2.8rem;
    margin-bottom: .7rem;
}

.hero p {
    font-size: 1.125rem;
    color:#E5E7EB;
    margin-bottom: .7rem;
}

.hero button {
    background-color: #3882F6;
    padding: .3rem 1.7rem;
    font-size: 1rem;
    color: #F9FAF8;
    border: none;
    border-radius: 6px;
}

.hero .image-placeholder {
    display: flex;
    background: gray;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    height: 200px;
}

.image-placeholder h4 {
    color: white;
}