@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,700,900');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --dark-bg-color: #1F2937;
    --light-bg-color: #E5E7EB;
    --dark-bg-header: #F9FAF8;
    --dark-bg-text: #E5E7EB;
    --light-bg-header: #1F2937;
    --light-bg-text: #6C747D;
}

body {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.2;
}

nav {
    background-color: var(--dark-bg-color);
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 .3rem;
}

nav .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 3.5rem;
}

nav .logo {
    color: var(--dark-bg-header);
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
}

.nav-links {
    font-size: 1.125rem;
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: var(--dark-bg-text);
}

.nav-links a:hover {
    color: coral;
}

.landing {
    background-color: var(--dark-bg-color);
    padding: 1rem 0 2.5rem;
}

.landing .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero-text h1 {
    color: var(--dark-bg-header);
    margin: 1rem 0;
    font-size: 3rem;
    font-weight: 900;
}

.hero-text p {
    color: var(--dark-bg-text);
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 1rem;
}

.hero-text button {
    border: none;
    border-radius: 8px;
    padding: .5rem 2rem;
    color: white;
    font-weight: 700;
    background-color: #3883F6;
    margin-bottom: 1rem;
}

.hero-text button:hover {
    background-color: white;
    color: #3883F6;
}

.landing .image-placeholder {
    width: 85%;
    background-color: var(--light-bg-text);
    min-height: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
}

.image-placeholder h4 {
    font-weight: 400;
}

.info-cards {
    padding: 3.5rem 0;
}

.info-cards .container {
    max-width: 850px;
}

.info-cards h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: var(--light-bg-header);
    font-size: 2.25rem;
    font-weight: 900;
    line-height: 1;
}

.cards {
    display: flex;
    flex-direction: column;
    color: var(--light-bg-text);
    gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card .image-placeholder {
    width: 150px;
    border: 4px solid #3883F6;
    border-radius: 15px;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .5rem;
}

.card p {
    width: 150px;
}

.quote {
    background-color: var(--light-bg-color);
    padding: 2rem 0;
}

.quote blockquote {
    font-size: 1.75rem;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    margin-bottom: 1rem;
}

blockquote::before {
    content: open-quote;
}

blockquote::after {
    content: close-quote;
}

.quote .cite {
    text-align: center;
}

.CTA {
    padding: 2rem 0;
}

.CTA .container {
    max-width: 1100px;
}

.CTA .box {
    background-color: #3883F6;
    border-radius: 6px;
    min-height: 6rem;
    padding: 1.5rem .5rem;
}

.CTA .container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box .CTA-text {
    text-align: center;
}

.CTA-text h3 {
    color: #F9FAF8;
}

.CTA-text p {
    color: #E5E7EB;
    font-weight: 100;
    margin-bottom: .3rem;
}

.CTA button {
    background-color: #3883F6;
    border: 2px solid white;
    border-radius: 8px;
    padding: .5rem 2rem;
    color: white;
    font-weight: 900;
}

.CTA button:hover {
    background-color: white;
    color: #3883F6;
    border-color: #3883F6;
}

@media all and (min-width: 600px) {
    nav .container {
        min-height: 2.5rem;
        flex-direction: row;
        justify-content: space-between;
    }

    .container {
        padding: 1rem;
    }

    .info-cards h2 {
        margin-bottom: 3rem;
    }

    .cards {
        flex-flow: row wrap;
        justify-content: center;
        gap: 1rem;
    }

    .cards > * {
        flex: 1 45%;
    }

    .quote .container {
        width: 80%;
    }
}

@media all and (min-width: 768px) {
    .landing .container {
        flex-direction: row;
        gap: 1rem;
    }

    .landing .container > * {
        flex: 1;
    }

    .hero-text {
        text-align: left;
        align-items: flex-start;
    }

    .cards > * {
        flex: 1;
    }

    .quote {
        padding: 3.5rem 0;
    }
    .quote .container {
        max-width: 830px;
    }

    .quote blockquote {
        text-align: left;
        margin-bottom: .5rem;
        font-size: 2.25rem;
    }

    .quote .cite {
        text-align: right;
        padding-right: 2rem;
    }

    .CTA .container2 {
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
        padding: 2rem;
        max-width: 850px;
        margin: auto;
    }

    .box .CTA-text {
        text-align: left;
    }
}